<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/layout" :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>

  <link rel="stylesheet" href="../css/chart.min.css" />
  <script src="../js/tailwind/chart.min.js" defer ></script>
  <script src="../js/tailwind/charts-lines.js" defer></script>


  <script src="../js/controllers/admin/account.js"></script>
</head>

<body ng-controller="accountController">


  <main layout:fragment="content" class="h-full overflow-y-auto">
 
    <div class="container px-6 mx-auto grid">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Account
      </h2>

      <div ng-if="err.error" class="flex w-full items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="text-red-600">
          <h3>Error : {{err.error}} - {{err.status}}</h3>
          <p>Error message : {{err.message}}</p>
        </div>
      </div>

      <div ng-if="!err.error" class="flex flex-col overflow-y-auto md:flex-row w-full p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        
        
        <div class="p-3 rounded-lg md:mr-4 bg-sky-500">
          <img class="rounded-lg" src="/pictures/{{user.imgUser}}" alt="">
        </div>
        <div class="w-full md:pl-4 relative">
          <div class="dark:text-white absolute top-4 right-0 md:top-0">
            <button ng-if="!edit" ng-click="setEdit()" class="bg-sky-600 flex text-sm items-center justify-between w-full p-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-sky-600 border border-transparent rounded-lg active:bg-sky-600 hover:bg-sky-700 focus:outline-none focus:shadow-outline-sky">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </button>
            <button ng-if="edit" ng-click="updateUser()" class="bg-sky-600 flex mb-5 text-sm items-center justify-between w-full p-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-sky-600 border border-transparent rounded-lg active:bg-sky-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-sky">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
              </svg>
            </button>
            <button  ng-if="edit" ng-click="cancelEdit()" class="bg-sky-600 flex text-sm items-center justify-between w-full p-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-white-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-sky">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Full Name</span>
          <input ng-disabled="!edit" type="text" class="block
           w-700 mt-1 mb-2 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400
            focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray
             form-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="user.fullnameUser"/>
          </label>
          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Birthday</span>
          <input ng-disabled="!edit"  type="date" class="block
           w-700 mt-1 mb-2 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400
            focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray
             form-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="user.birthdayUser"/>
          </label>
          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Phone Number</span>
          <input ng-disabled="!edit" type="text" class="block
           w-700 mt-1 mb-2 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400
            focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray
             form-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="user.phoneNumberUser"/>
          </label>

          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Email</span>
          <input ng-disabled="!edit" type="text" class="block
           w-600 mt-1 mb-2 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400
            focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray
             form-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="user.email"/>
          </label>
        </div>
      </div>
    </div>

  </main>
  </div>
</body>

</html>