<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/layout" :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cinema - Create account</title>

  <script src="../js/controllers/admin/create-account.js"></script>
  <style>

    
    button[disabled="disabled"]{
      opacity: 0.4;
      cursor: not-allowed !important;
    }
    

  </style>
</head>

<body ng-controller="createAdminAccoutController">

  <main layout:fragment="content" class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid pt-2">

      <!--  Add Formulaire  -->
      <form name="createForm" novalidate>
      <div class="px-4 py-3 m-auto mt-6 bg-white rounded-lg shadow-md dark:bg-gray-800"
        style="max-width: 600px;width: 100%;">
        <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
          Create account
      </h1>
      <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Fullname</span>
          <input
              ng-model="user.fullnameUser"  ng-required="true" name="name"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="Jane Doe" />
              <div ng-show="createForm.name.$touched && createForm.name.$invalid" >
                <small style="color: red ; display:block; text-align: center;">Enter a valid Name </small>
            </div>
      </label>
      <label class="block  mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">Birthday</span>
          <input ng-model="user.birthdayUser"  ng-required="true" name="birthday"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              type="date" />
              <div ng-show="createForm.birthday.$touched && createForm.birthday.$invalid" >
                <small style="color: red ; display:block; text-align: center;">Enter a valid Birthday Date </small>
            </div>
      </label>
      <label class="block  mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">Type user</span>
          <select  ng-model="user.roles[0].id"  class="block w-full mt-1 mb-2 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
            <option ng-repeat="role in roles" value="{{role.id}}">{{role.role}}</option>
          </select>
      </label>
      <label class="block  mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Phone number</span>
        <input   ng-model="user.phoneNumberUser" ng-required="true" name="phone"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="06xxxxxxxx" />
            <div ng-show="createForm.phone.$touched && createForm.phone.$invalid" >
              <small style="color: red ; display:block; text-align: center;">Enter a valid Phone number  </small>
          </div>
      </label>  
      <label class="block  mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Image</span>
        <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="file" ng-model="user.imgUser"/>
      </label>
      <label class="block  mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">Email</span>
          <input ng-model="user.email" ng-required="true" name="email"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="user@example.com" />
              
              <div   ng-show="createForm.email.$touched && createForm.email.$invalid" >
                <small style="color: red ; display:block; text-align: center;">Enter a valid Email  </small>
            </div>
      </label>
      
      <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">Password</span>
          <input ng-model="user.password"  ng-required="true" name="password"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="***************" type="password" />
              <div ng-show="createForm.password.$touched && createForm.password.$invalid" >
                <small style="color: red ; display:block; text-align: center;">Enter a valid Password  </small>
            </div>
      </label>
      <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">
              Confirm password
          </span>
          <input  ng-model="user.rePassword"  ng-required="true" name="repassword"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="***************" type="password" />
              <div ng-show="createForm.repassword.$touched && createForm.repassword.$invalid" >
                <small style="color: red ; display:block; text-align: center;">Confirm Password  </small>
            </div>
      </label>

      <div class="flex mt-6 text-sm">
          <label class="flex items-center dark:text-gray-400">
              <input ng-model="user.check"
                   type="checkbox"
                  class="text-sky-600 form-checkbox focus:border-sky-400 focus:outline-none focus:shadow-outline-sky dark:focus:shadow-outline-gray" />
              <span class="ml-2">
                  I agree to the
                  <span class="underline">privacy policy</span>
              </span>
          </label>
      </div>
        <footer
          class="flex flex-col items-center justify-end px-6 py-3 -mx-6 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row">
          <button ng-click="Cancel()"
            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
            Cancel
          </button>
          <button ng-click="addPhoto()" ng-disabled="createForm.name.$invalid ||createForm.birthday.$invalid ||createForm.phone.$invalid ||createForm.email.$invalid || createForm.password.$invalid || createForm.repassword.$invalid   "
            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-sky-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-sky-600 hover:bg-sky-700 focus:outline-none focus:shadow-outline-sky">
            Save
          </button>
        </footer>
      </div>
    </div>
</form>
  </main>
  </div>
</body>

</html>