<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/layout" :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="../js/controllers/user/actors.js"></script>
</head>

<body ng-controller="actorController">

<main layout:fragment="content" class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid pt-2">


        <!-- Search -->
        <input ng-model="searchIn" ng-change="search()"
               class="w-full pl-8 pr-2 text-sm my-8 text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-sky-300 focus:outline-none focus:shadow-outline-sky form-input"
               type="text" placeholder="Search for actors .." aria-label="Search" />

        <!-- Loading -->
        <div ng-if="loading">
            <svg class="h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px"
                 viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <path fill="none" stroke="#0284c7" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271"
                      d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z"
                      stroke-linecap="round" style="transform:scale(0.8);transform-origin:50px 50px">
                    <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1.1363636363636365s"
                             keyTimes="0;1" values="0;256.58892822265625"></animate>
                </path>
            </svg>
        </div>

        <!-- Actors -->
        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

            <!-- Card -->
            <div ng-repeat="actor in all" class="flex gap-4 items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                <img src="/pictures/{{actor.imgActor}}" width="80" height="100" class="rounded"/>
                <div>
                    <p class="text-lg mb-4 font-semibold text-gray-700 dark:text-gray-200">
                        {{actor.fullNameActor}}
                    </p>
                    <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                        {{actor.birthdayActor}}
                    </p>
                    <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                        {{actor.nationalityActor.nationality}}
                    </p>
                </div>
            </div>

        </div>
    </div>

</main>
</div>
</body>

</html>