<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="user/layout" :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="../js/controllers/user/index.js"></script>
</head>

<body ng-controller="filmController">

  <main layout:fragment="content" class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid pt-2">

      <!-- Loading -->
      <div ng-if="loading">
        <svg class="h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px"
          viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <path fill="none" stroke="#0284c7" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271"
            d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z"
            stroke-linecap="round" style="transform:scale(0.8);transform-origin:50px 50px">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1.1363636363636365s"
              keyTimes="0;1" values="0;256.58892822265625"></animate>
          </path>
        </svg>
      </div>

      <!-- Films -->
      <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

        <!-- Card -->
        <a href="/film/{{film.id}}" ng-repeat="film in all.list" class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            
          </div>
          <div>
            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
              {{film.titleFilm}}
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{film.descriptionFilm}}
            </p>
          </div>
        </a>

      </div>
    </div>

  </main>
  </div>
</body>

</html>