<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="user/layout" :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="../js/controllers/user/index.js"></script>
</head>

<body ng-controller="filmController">

  <main layout:fragment="content" class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid pt-2">

      <!-- Search -->
      <div>
        <input ng-model="searchIn" ng-change="search()"
              class="w-full pl-8 pr-2 mt-8 mb-4 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-700 focus:placeholder-gray-500 focus:bg-white focus:border-sky-300 focus:outline-none focus:shadow-outline-sky form-input"
              type="text" placeholder="Search for films .." aria-label="Search" />
        <div class="flex md:flex-row flex-col gap-4 mb-8">
          <div class="inline-block relative w-full ">
            <select class="block appearance-none w-full bg-white border dark:border-0 border-gray-400 hover:border-gray-500 dark:bg-gray-700  dark:text-gray-200 bg-gray-100 px-4 py-2 pr-8 rounded-md shadow leading-tight  focus:outline-none focus:shadow-outline">
              <option>Search by category</option>
              <option ng-repeat="category in categories" value="{{category.id}}">{{category.typeFilm}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
          <div class="inline-block relative w-full">
            <select class="block appearance-none w-full bg-white border dark:border-0 border-gray-400 hover:border-gray-500 dark:bg-gray-700  dark:text-gray-200 bg-gray-100 px-4 py-2 pr-8 rounded-md shadow leading-tight  focus:outline-none focus:shadow-outline">
              <option>Search by nationality</option>
              <option ng-repeat="nationality in nationalities" value="{{nationality.id}}">{{nationality.nationality}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
          <div class="inline-block relative w-full">
            <select class="block appearance-none w-full bg-white border dark:border-0 border-gray-400 hover:border-gray-500 dark:bg-gray-700 dark:focus:shadow-outline-gray  dark:text-gray-200 bg-gray-100 px-4 py-2 pr-8 rounded-md shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>Search by actor</option>
              <option ng-repeat="actor in actors" value="{{actor.id}}">{{actor.fullNameActor}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
          <div class="inline-block relative w-full">
            <select class="block appearance-none w-full bg-white border dark:border-0 border-gray-400 hover:border-gray-500 px-4 py-2 pr-8  dark:text-gray-200 dark:bg-gray-700  rounded-md shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>Search by director</option>
              <option ng-repeat="director in directors" value="{{director.id}}">{{director.fullnameDirector}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>

      <!-- Loading -->
      <div ng-if="loading">
        <svg class="h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px"
          viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <path fill="none" stroke="#0284c7" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271"
            d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z"
            stroke-linecap="round" style="transform:scale(0.8);transform-origin:50px 50px">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1.1363636363636365s"
              keyTimes="0;1" values="0;256.58892822265625"></animate>
          </path>
        </svg>
      </div>

      <!-- Films -->
      <div class="grid gap-6 mb-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

        <!-- Card -->
        <a href="/film/{{film.id}}" ng-repeat="film in all" class="flex flex-col p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <img src="/pictures/{{film.imgFilm}}" alt="{{film.titleFilm}}"  class="mb-2 rounded-md">
          <div>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{film.titleFilm}}
            </p>
            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
              {{film.descriptionFilm}}
            </p>
          </div>
        </a>

      </div>
    </div>

  </main>
  </div>
</body>

</html>